<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= appointment.errors.count %>
        <%= appointment.errors.count == 1 ? "error:" : "errores:" %>
      </h2>

      <% appointment.errors.each do |error| %>
        <p>- <%= error.message %></p>
      <% end %>
    </div>
  <% end %>

  <% if appointment.new_record? %>
    <div class="field">
      <%= form.label "Fecha" %>
      <%= form.date_field :date, required: true %>
    </div>

    <div class="field">
      <%= form.label "Hora" %>
      <%= form.time_field :time, value: time_format(appointment&.time), min: "08:00", max: "20:00", required: true %>
    </div>

    <div class="field">
      <%= form.label "Profesional" %>
      <%= form.select :professional_id, options_for_select(Professional.all.collect{|p| [ p.full_name, p.id ] }), required: true%>
    </div>
  <% end %>
  <div class="field">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label "Apellido" %>
    <%= form.text_field :surname, required: true %>
  </div>

  <div class="field">
    <%= form.label "Telefono" %>
    <%= form.text_field :phone, required: true %>
  </div>

  <div class="field">
    <%= form.label "Notas" %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit appointment.new_record? ? "Crear turno" : "Actualizar turno" %>
  </div>
<% end %>
