<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= appointment.errors.count %>
        <%= appointment.errors.count == 1 ? "error:" : "errores:" %>
      </h2>

      <% appointment.errors.each do |error| %>
        <p>- <%= error.message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Fecha" %>
    <%= form.date_field :date %>
  </div>

   <div class="field">
    <%= form.label "Hora" %>
    <%= form.time_field :time, minute_step: 15, min: "08:00", max: "20:00"%>
  </div>

  <div class="field">
    <%= form.label :professional_id %>
    <%= form.select :professional_id, options_for_select(Professional.all.collect{|p| [ p.full_name, p.id ] })%>
  </div>

  <div class="field">
    <%= form.label "Nombre" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "Apellido" %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label "Telefono" %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label "Notas" %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit "Crear turno" %>
  </div>
<% end %>
