<%= form_with url: generate_file_appointments_path, scope: :export, method: :post do |form| %>
  <p id="notice-error"><%= notice %></p>

  <div class="field">
    <%= form.label "Fecha" %>
    <%= form.date_field :date, required: true %>
  </div>

  <div class="field">
    <%= form.label "Profesional" %>
    <%= form.select :professional_id, options_for_select(Professional.all.collect{|p| [ p.full_name, p.id ] }.insert(0, "Seleciona un profesional")) %>
  </div>

  <div class="checkbox">
    <%= form.check_box :all_week %>
    <%= form.label "Incluir toda la semana" %>
  </div>

  <div class="actions">
    <%= form.submit "Generar tabla", data: { disable_with: false } %>
  </div>
<% end %>
