<p id="notice"><%= notice %></p>

<div class="action-header">
  <h1>Turnos</h1>
  <%= link_to 'Crear turno', new_appointment_path, class: "action" %>
</div>

<table>
  <thead>
    <tr>
      <th>Fecha y hora</th>
      <th>Profesional asignado</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date.strftime("%d/%m/%y - ") + appointment.time.strftime("%H:%M hs")  %></td>
        <td><%= professional_id_to_fullname(appointment.professional_id) %></td>
        <td><%= appointment.name %></td>
        <td><%= appointment.surname %></td>
        <td><%= link_to 'Ver', appointment %></td>
        <td><%= link_to 'Editar', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Cancelar', appointment, method: :delete, data: { confirm: 'Estas seguro que deseas cancelar el turno?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
