<%= form_with(model: professional) do |form| %>
  <% if professional.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= professional.errors.count %>
        <%= professional.errors.count == 1 ? "error:" : "errores:" %>
      </h2>

      <% professional.errors.each do |error| %>
        <p>- <%= error.message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nombre" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "Apellido" %>
    <%= form.text_field :surname %>
  </div>

  <div class="actions">
    <%= form.submit professional.new_record? ? "Crear profesional" : "Actualizar profesional" %>
  </div>
<% end %>
